<template>

<textarea rows="12" cols="40" v-model="content"></textarea>

</template>


<script>

export default {

  props: ['content'],

  data() {
    return {

    }
  },

  methods: {

  },

  created() {console.log('editor: created');},
  ready() {console.log('editor: ready');}

}

</script>
