<template>

<div class="row">

<form @submit.prevent="submitEpisode" method="post" v-el:form>

<div class="columns large-18">

	<div class="panel">
		<div class="row">

			<div class="columns large-24">
				<h3 v-if="episode.formal_title == null">New Episode</h3>
        <h3 v-else>{{episode.formal_title}}</h3>
			</div>

			<div class="columns large-24">
				<label>Title:
					<input type="text" v-model="episode.title">
				</label>
			</div>

			<div class="columns large-24" v-show="episode.title">
				<label>Subtitle:
					<input type="text" v-model="episode.subtitle">
				</label>
			</div>

			<div class="columns large-24">
				<label>Series:
					<select class="form-control"
					v-model="episode.series_id"
					>
						<option value="">Select a series</option>
						<option v-for="s in series" v-bind:value="s.value">{{s.text}}</option>
					</select>
				</label>
			</div>

			<div class="columns large-24">
				<label>Number:
					<input type="number" v-model="episode.number">
				</label>
			</div>

			<!-- <div class="columns large-24">
				<label>Content:
					<textarea v-model="episode.content" rows="12" cols="40"></textarea>
				</label>
			</div> -->

			<div class="columns large-24">
				<label>Content:
					<editor :content.sync="episode.content"></editor>
				</label>
			</div>

			<div class="columns large-24">
				<label>Description:
					<textarea v-model="episode.description" rows="3" cols="40"></textarea>
				</label>
				<p class="help-text">Try to limit the episode description to 160 characters.</p>
			</div>

			<div class="columns medium-8 text-center">
				<label>Hidden
					<input type="checkbox" v-model="episode.hidden">
				</label>
				<p class="help-text">When an episode is <em>hidden</em>, it will not be visible or accessible from the front end.</p>
			</div>
			<div class="columns medium-8 text-center">
				<label>NSFW
					<input type="checkbox" v-model="episode.nsfw">
				</label>
				<p class="help-text">When an episode is <em>NSFW</em>, it will be shown as such on its episode page.</p>
			</div>
			<div class="columns medium-8 text-center">
				<label>Unlisted
					<input type="checkbox" v-model="episode.unlisted">
				</label>
				<p class="help-text">
					When an episode is <em>unlisted</em>, it is not listed on the front end, but is still directly accessible.
				</p>
			</div>

		</div>
	</div>

	<div class="panel">
		<div class="row">

			<div class="columns medium-24 text-center">
				<label>Debug
					<input type="checkbox" v-model="meta.debug">
				</label>
				<p class="help-text">Do you want to temporarily see the debug?</p>
			</div>

<div class="columns large-24" v-show="meta.debug">
<pre>
{{ episode | json }}
</pre>
</div>

		</div>
	</div>

	<div class="panel">
		<div class="row">

		<div class="columns large-24">
			<h3>People</h3>

			<label>Add A Person</label>
			<input class="form-control" type="text" placeholder="Search for a person"
			v-el:peoplequery
			v-model="queries.people"
			>
			<ul class="no-bullet" v-if="episode.people.length > 0">
				<li class="list-group-item" v-for="person in episode.people" track-by="id">
			{{person.name}}
					<select v-model="person.pivot.role">
						<option v-for="p in peopleRoles" v-bind:value="p.value">{{p.text}}</option>
					</select>
					<button v-on:click="removePerson(person)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</li>
			</ul>
			<p class="help-text">If left blank, the default series hosts will be automatically added to this episode.</p>

		</div>

		</div>
	</div><!-- episode.people -->

	<div class="panel">
		<div class="row">

			<div class="columns large-24">

			<h4>Related</h4>

      <div class="form-group">
        <label>Parent:</label>
        <input class="form-control" type="text" placeholder="Select the parent episode"
          v-el:relatedparent
          v-model="queries.related.parent"
          v-bind:disabled="parents.length > 0"
        >
        <div v-if="parents.length > 0">
          <div v-for="parent in parents">
            {{parent.title}} <button v-on:click="removeRelated(parent)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Fringe:</label>
        <input class="form-control" type="text" placeholder="Select the fringe episode"
          v-el:relatedfringe
          v-model="queries.related.fringe"
          v-bind:disabled="fringes.length > 0"
        >
        <div v-if="fringes.length > 0">
          <div v-for="fringe in fringes">
            {{fringe.title}} <button v-on:click="removeRelated(fringe)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>

			</div>

		</div>
	</div><!-- episode.related -->

	<div class="panel">
		<div class="row">

			<div class="columns large-24">

				<h4>Media</h4>
				<div class="form-group">
					<a class="button" href="#" role="button"
						v-on:click="newMP3Media"
					>New MP3 Media</a>
				</div>

					<div class="row" v-for="media in episode.media">
						<div class="columns large-24">

							<label>{{media.type | uppercase}}:</label>

							<div>
								<input type="text" v-model="media.url">
								<button type="button" class="btn btn-primary"
									v-on:click="checkMedia(media, $event)"
								>Update</button>
								<button v-on:click="removeMedia(media, $event)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>

							<div v-if="media.length && media.size">
								{{media.length}} | {{media.size}}
							</div>

						</div>
					</div>

			</div>

		</div>
	</div>

	<div class="panel">
		<div class="row">
			<div class="columns large-24">

				<h4>Album Art</h4>

				<select v-model="episode.album_art_id">
					<option :value="null">Default</option>
					<option v-for="a in art" :value="a.value">{{a.text}}</option>
				</select>
				<p class="help-text">Select specific album art for this episode, otherwise the default series album art will be used.</p>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="row">

			<div class="columns large-24">
				<h4>Other</h4>

				<label>Episode Notes:
					<textarea v-model="episode.notes" rows="5" cols="40"></textarea>
				</label>
				<p class="help-text">Private notes on this episode.</p>

        <label>External Show Notes
					<span v-if="episode.external_notes_url"><a href="{{episode.external_notes_url}}">Open</a></span>:
          <input type="text" v-model="episode.external_notes_url" placeholder="drive.google.com">
        </label>

			</div>

		</div>
	</div>

</div><!-- all episode modules -->

<div class="columns large-6">
	<div class="panel">

		<label>Episode State
			<select class="form-control"
			v-model="episode.state"
			>
				<option v-for="s in states" :value="s.value">{{s.text}}</option>
			</select>
		</label>

		<input class="button expand" type="submit" :disabled="saveable == false" value="Save">

	</div>
</div>

</form>

</div>

</template>

<script>

  /**
   * Format_to_api
   * Format the local data up to the server standard interface.
   * @param  {[type]} episode [description]
   * @return {[type]}         [description]
   */
  function format_to_api(episode) {
    console.log('push: episode %o', JSON.parse(JSON.stringify(episode)));

    // copy, but don't allow this function to change the others
    var data = Object.assign({}, episode);

    // related is only type and id
    data.related = {};
    episode.related.forEach((o) => {
      data.related[o.id.toString()] = {type: o.pivot.type};
    });

    // people is only id and role
    data.people = {};
    episode.people.forEach((o) => {
      data.people[o.id.toString()] = {role: o.pivot.role};
    });

    // size, length, type, mime, url, id
    data.media = episode.media.map((o) => {
      var m = {id: o.id || null, size: o.size, length: o.length, type: o.type, mime: o.mime, url: o.url};
      return m;
    });

    delete data['formal_title'];
    delete data['series'];
    delete data['art'];

    var dates = ['created_at', 'updated_at', 'published_at', 'deleted_at'];
    dates.forEach(function(v, i, a) {
      if (data[v] == null || data[v] == '0000-00-00 00:00:00') {
        delete data[v];
      }
    });

    console.log('push: episode data %o', JSON.parse(JSON.stringify(data)));
    return data;
  }

  import Editor from './Editor.vue';

  export default {

    components: {
      Editor
    },

		props: ['data-id'],

    data() {
      return {
          episode: {

              id: null,
              title: null,
              subtitle: null,
              number: null,
              state: 'draft',
              hidden: false,
              unlisted: false,
              nsfw: false,
              created_at: null,
              updated_at: null,
              published_at: null,
              content: '',
              description: '',
              notes: '',
              external_notes_url: null,
              created_at: null,
              updated_at: null,

              series_id: null,

              related: [],
              people: [],
              media: [],
          },

          states: [
            {text: 'Draft', value: 'draft'},
            {text: 'Preview', value: 'preview'},
            {text: 'Scheduled', value: 'scheduled'},
            {text: 'Published', value: 'published'},
          ],

          peopleRoles: [
            {text: 'Guest', value: 'guest'},
            {text: 'Host', value: 'host'}
          ],

          series: [],
          related: [],
          people: [],
          art: [],

          meta: {
            valid: false,
            debug: true,
            mode: 'create'
          },

          queries: {
            people: '',
            related: {
              parent: '',
              fringe: ''
            }
          }
        };
    },

    computed: {
      parents: function() {
        return this.episode.related.filter(function(episode){
          return episode.pivot.type === 'parent';
        });
      },
      fringes: function() {
        return this.episode.related.filter(function(episode){
          return episode.pivot.type === 'fringe';
        });
      },
      mode: function() {
        if (!this.episode) {
          return 'unknown';
        }
        if (this.episode.id == null) {
          return 'create';
        }
        return 'edit';
      },
      saveable: function() {
        var required = [this.episode, this.episode.title, this.episode.series_id, this.episode.number];
        for (var i = 0; i < required.length; i++) {
          if (required[i] == null) {
            return false;
          }
        }
        return true;
      }
    },

    created: function() {
      console.log('module-episode: created');

      $.ajax({
        url: '/api/series',
      }).done((response) => {
        var series = response.data.series;
        var form = series.map((s) => {
          return {text: s.name, value: s.id};
        });
        this.series = form;
        console.log('module-episode: series fetched = %d', form.length);
      });

      $.ajax({
        url: '/api/art',
      }).done((response) => {
        var art = response.data.art;
        var form = art.map((a) => {
          return {text: a.name, value: a.id};
        });
        this.art = form;
        console.log('module-episode: art fetched = %d', form.length);
      });


    },

    ready: function() {
      console.log('module-episode: ready');
      var self = this;

      var id = this.dataId || null;
      this.episode.id = id;

      if (id !== null) {
        $.ajax({
          url: `/api/episodes/${id}`,
          method: 'get'
        }).done((response) => {
          console.log('module-episode: episode fetched = %o', response);
          this.$set('episode', response.data.episode);
          console.log('module-episode: saveable status = %o', this.saveable);
        });
      }
      console.log('module-episode: saveable status = %o', this.saveable);

      // these autocomplete events
      // are heavily dom based
      // so they must be
      // ready'd

      // Related Parent Query
      $(this.$els.relatedparent).autocomplete({}, [{
        displayKey: 'label',
        source: (rq, rp) => {
          $.ajax({
            url: '/api/episodes/',
            data: {q: rq},
            success: (response) => {
              var form = response.data.episodes.map((e) => {
                return {label: e.title, value: e.id}
              });
              rp(form);
              console.log('module-episode: parent episodes fetched for (%s)', rq);
            }
          });
        }
      }]).on('autocomplete:selected', (e,s,d) => {
        var obj = {id: s.value, title: s.label, pivot: {type: 'parent'}};
        this.episode.related.push(obj);
        this.queries.related.parent = '';
      }).on('autocomplete:closed', (e) => {
        this.queries.related.parent = '';
        $(e.target).autocomplete('val', '');
      });

      $(this.$els.relatedfringe).autocomplete({}, [{
        displayKey: 'label',
        source: (rq, rp) => {
          $.ajax({
            url: '/api/episodes',
            data: {q: rq},
            success: (response) => {
              var form = response.data.episodes.map((e) => {
                return {label: e.title, value: e.id}
              });
              rp(form);
              console.log('module-episode: fringe episodes fetched for (%s)', rq);
            }
          });
        }
      }]).on('autocomplete:selected', (e,s,d) => {
        var obj = {id: s.value, title: s.label, pivot: {type: 'fringe'}};
        this.episode.related.push(obj);
        this.queries.related.fringe = '';
      }).on('autocomplete:closed', (e) => {
        this.queries.related.fringe = '';
        $(e.target).autocomplete('val', '');
      });

      // People Query
      $(this.$els.peoplequery).autocomplete({}, [{
        displayKey: 'label',
        source: (rq, rp) => {
          $.ajax({
            url: '/api/people',
            data: {q: rq},
            success: (response) => {
              var form = response.data.people.map((p) => {
                return {label: p.name, value: p.id}
              });
              rp(form);
              console.log('module-episode: people fetched for (%s)', rq);
            }
          });
        }
      }
    ]).on('autocomplete:selected', (e,s,d) => {
      var obj = {id: s.value, name: s.label, pivot: {role: 'guest'}};
      this.episode.people.push(obj);
      this.queries.people = '';
    }).on('autocomplete:closed', (e) => {
      this.queries.people = '';
      $(e.target).autocomplete('val', '');
    });

    },

    methods: {
      submitEpisode: function(e){
        e.preventDefault();

        var csrf = get_csrf_token();
        var mode = this.mode;

        var method = mode === 'create' ? 'POST' : 'PATCH';

        var url = 'unknown';
        if (mode === 'create') {
          url = '/api/episodes';
        } else if (mode === 'edit') {
          url = `/api/episodes/${this.episode.id}`;
        }

        console.log('mode %o; method %o; url %o', mode, method, url);

        var episode = format_to_api(this.episode);

        console.log('module-episode: submission (%s): %o', mode, JSON.parse(JSON.stringify(episode)));

        $.ajax({
          url: url,
          method: 'post',
          data: {
            episode: episode,
            _token: csrf,
            _method: method
          }
        }).done((response, txt, xhr) => {
          console.log('module-episode: response: %o', response);

          var mode = this.mode;

          this.$set('episode', response.data.episode);

          if (mode === 'create') {
            console.log('module-episode: state pushed');
            history.pushState({id: this.episode.id}, '', `/admin/episodes/${this.episode.id}/edit`);
            history.replaceState({id: this.episode.id}, '', `/admin/episodes/${this.episode.id}/edit`);
          }

        });

      },
      removePerson: function(person) {
        this.episode.people.$remove(person);
      },
      removeRelated: function(episode) {
        this.episode.related.$remove(episode);
      },
      newMP3Media: function(e) {
        e.preventDefault();
        var media = {
          type: 'mp3',
          url: ''
        };
        this.episode.media.push(media);
      },
      checkMedia: function(media, e) {
        // if media has an id, its already been checked
        // otherwise, it's fresh

        // find the index
        var index = this.episode.media.indexOf(media);
        if (index >= 0) {

          console.log('module-episode: mp3 checking for (%s)', media.url);
          $.ajax({
            method: 'get',
            url: '/api/media/check',
            data: {url: media.url}
          }).done((r) => {
            console.log('module-episode: mp3 checked for (%s)', media.url);
            var rm = r.data.media;
            // if there is no error, continue
            if (!rm.error) {
              // set the existing media object into the new response media object
              rm = Object.assign(media, rm);
              console.log(rm);
              this.episode.media.$set(index, rm);
              console.log(this.episode.media[index]);
            } else {
              console.warn('module-episode: mp3 check error for (%s)', media.url);
            }

          });

        }
      },
      removeMedia: function(media, e) {
        this.episode.media.$remove(media);
      }
    }

};

</script>
