
body {
  background-color: #efefef;
}

.full-width {
  width: 100%;
  max-width: initial;
  margin-left: auto;
  margin-right: auto;
}

// ----- vue.js -----
[v-cloak] {
  display: none;
}
// ----- /vuejs -----


// ----- box -----

.box {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  background: #fff;
  margin-bottom: 1em;
}

.box .box-title {
  border-bottom: 1px solid #eee;
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4em;
  h3, h4 {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: bold;
  }
}

.box .box-inner {
  padding: 0 12px 12px;
  line-height: 1.4em;
  font-size: 13px;
  margin: 1em 0 0 0;
}

// make panels look like regular boxes
.panel {
  border: 1px solid #e5e5e5;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

// ----- /box -----

// ----- playboard -----

.playboard dl div {
  text-align: center;
}

// ----- /playboard -----


// ----- recently -----

.recently-published h3 {
  font-size: 16px;
  margin-bottom: .25rem;
}
.recently-published p {
  font-size: .9rem;
  margin: .25rem .5rem .25rem .5rem ;
}
.recently-published .when {
  font-size: 13px;
  color: #777;
}
.recently-published .episode {
  padding: 0 0 1em 0;
  margin: 1em 0 0 0;
  border-bottom: 1px solid #eee;
}
.recently-published .episode:last-child {
  border: none;
}

// ----- /recently -----



// ----- tables -----

td .title {
  font-weight: bold;
}

tr .list-actions {
  opacity: 0;
  transition: opacity .5s;
}
tr:hover .list-actions {
  opacity: 1;
}

// ----- /tables -----



// ----- editor -----

.full {
  width: 100%;
}

.content-field {
  font-size: 1rem;
  font-family: monospace;
}

.help-text {
  margin-top: -0.5rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: #333;
}

// ----- /editor -----

// ----- art -----
.gallery {

}
.row .gallery-row {
  margin-bottom: 1rem;
}
.gallery-item {
  position: relative;
  width: 100%;
  div {
    display: inline;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    margin: 0; padding: 0;
    span {
      color: white;
      font-size: 1.7rem;
      background: rgba(0, 0, 0, 0.7);
      padding: 10px 10px 10px 10px;
    }
    time {
      font-size: 1rem;
    }
  }
}
// ----- /art -----

// ----- algolia search -----
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
// ----- /algolia search -----
